<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
	<meta charset="utf-8" />
	{% if article and article.author %}
	<meta name="author" content="{{ article.author }}" />
	<meta name="copyright" content="{{ article.author }}" />
	{% elif page and page.author %}
	<meta name="author" content="{{ page.author }}" />
	<meta name="copyright" content="{{ page.author }}" />
	{% else %}
	<meta name="author" content="{{ AUTHOR }}" />
	<meta name="copyright" content="{{ AUTHOR }}" />
	{% endif %}
	<link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/logos/favicon.png" />
	<link rel="canonical" href="{{ SITEURL }}" />
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" />
	{% if TYPOGRIFY %}
        <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/typogrify.css" />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/static/css/custom.css" media="screen" />
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}
	{% if FEED_ALL_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
	{% if 'tipue_search' in PLUGINS %}
		<link rel="stylesheet" type="text/css" href="/static/tipuesearch/tipuesearch.css" media="screen">
	{% endif %}
</head>

<body id="index" class="home">
	<header id="banner" class="body">
		<div id="tux-gear"></div>
		<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
		{% if SITESUBTITLE %} <h2>{{ SITESUBTITLE }}</h2>{% endif %}
		<nav>
			<ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
	                {% for page in PAGES %}
	                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
	                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                    <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                 <!--li><form class="navbar-search" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input"></form></li-->
			</ul>
		</nav>
	</header><!-- /#banner -->
	
	{% block content %}
	{% endblock %}

	<section id="extras" class="body">
        {% if LINKS %}
			<div class="blogroll">
				<h2>Other resources</h2>
				<ul>
				{% for name, link in LINKS %}
					<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
				</ul>
			</div>
        {% endif %}
        {% if SOCIAL %}
			<div class="social">
				<h2>Social</h2>
				<ul>
					{% if FEED_ALL_ATOM %}
					<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">Site Atom Feed</a></li>
					{% endif %}
					{% if FEED_ALL_RSS %}
					<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">RSS Feed</a></li>
					{% endif %}
					{% for name, link in SOCIAL %}
						<li><a href="{{ link }}">{{ name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</section><!-- /#extras -->

	<footer id="contentinfo" class="body">
	</footer><!-- /#contentinfo -->
</body>
</html>
